<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Praktika2DT.Properties.Settings.Praktika2ConnectionString"
            connectionString="Data Source=DESKTOP-0MDOKUK\SQLEXPRESS;Initial Catalog=Praktika2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Praktika2DT.Properties.Settings.Praktika2UPConnectionString"
            connectionString="Data Source=DESKTOP-0MDOKUK\SQLEXPRESS;Initial Catalog=Praktika2UP;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>